src/main/resources/schema.xml

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="name"/>
                <xs:element type="xs:string" name="jobTitle"/>
                <xs:element type="xs:byte" name="salary"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>